nds.war/WEB-INF/xml/tree.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by yfzhu (abc) -->
<!--DTD generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<!ELEMENT directory (#PCDATA)>
<!ELEMENT icon (#PCDATA)>
<!ELEMENT label ANY>
<!ELEMENT name (#PCDATA)>
<!ELEMENT node (name, parent?, label, icon, url, directory?)>
<!ELEMENT parent (#PCDATA)>
<!ELEMENT tree (node+)>
<!ELEMENT url (#PCDATA)>
